html,body{
  margin:0;
  font-family: 'Merriweather Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
  text-transform: uppercase;
  color:#4C3799;

}

.inline {
  display: inline-block;
}

.colorpic {
  width: 20px;
  height: 20px;
}

.collectionsList {
  max-height: 300px;
  overflow-y: scroll; 
}

.bouton{
  background-color:#4C3799;
}
/*Menu principal*/
.menu{
background-color:#000;
display:flex;

height:90px;
justify-content: space-around;
justify-content: center;
align-items:center;
}



a{
  color:#fff;
  text-decoration:none;
  padding:50px;

}

a:hover{
  color:#4C3799;
  text-decoration:none;

}

.logo{
  letter-spacing:10px;
}

/*Fin Menu principal*/


/*  barre de recherche*/ 


/* fin de barre de recherche*/ 


/*PRESENTATION*/


/*FIN PRESENTATION*/


/*collection*/
.Noscollection{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding:80px;
}

/*FIN de collection */





/* gamme de produit */
.box{
  color:#000;
}

.box1{
  color:#000;
}



/*Fin de gamme de produit */

/*Contactez nous */
.contact{
  height:40%;
  background-color: #000;


}
/*Fin contactez Nous*/


/* PresSalon */
#presSalon
 {
  background-image: url("image/compagnie_de_provence.jpg");
  background-size: 100%;
  height: 90vh;
 }
/*paiement*/
.Paiement{
  height:60%;
  background-color: #f555;
}

/*fin de paiement*/